.navigation{
  display: flex;
  height: 150px;
  box-sizing: border-box;

}
.logo{
  height: auto;
  padding-left: 30px;
  padding-right: 15px;
}
.logo img{
  width: 100px;
  height: 100px;
  margin-top: 25px;
}
.body{
  flex: 1;
  margin-left: 5%;
}
.body a{
  font-size: 28px;
  font-weight: 700;
  width: 165px;
  text-align: center;
  margin-top: 50px;
}
.search{
  flex: 1;
  display: flex;
  gap: 15px;
}
.search input{
  border: 1px solid #919090;
}
.input-search{
  margin-top: 50px;
}
.input-search input{
  width: 200px;
  height: 40px;
  padding-left:40px ;
}
.icon-search{
  position: relative;
  top: -2px;
  left: 32px;
  z-index: 2;
  text-align: center;
  pointer-events: none;
}
.icon img{
  width: 40px;
  height: 40px;
  margin-top: 50px;
}
.icon img:hover{
  background: #dcdcdc;
  cursor: pointer;
  border-radius: 50%;
}
.items{
  position: absolute;
  margin-top: 60px;
  margin-left: 16px;
  font-weight: bold;
}

