<app-taskbar></app-taskbar>
<div class="navigation">
  <div class="logo" [routerLink]="['home']">
    <img
      src="https://st3.depositphotos.com/7774456/13208/v/450/depositphotos_132088630-stock-illustration-logo-of-stylish-sneaker-for.jpg">
  </div>
  <div class="navigation body">
    <a class="menu-item">
      <a class="nav-label" [routerLink]="['product']" >Sản phẩm</a>
      <div class="dropdown-content">
        <ul class="drop-col">
          <!--<ul class="cate">Nhãn hiệu</ul>
          <li class="li-col"><a>Nike</a></li>
          <li class="li-col"><a>Adidas</a></li>
          <li class="li-col"><a>Vans</a></li>
          <li class="li-col"><a>Gucci</a></li>-->
          <img class="drop-img" src="assets/img/43950352_251015289093825_1729874503112065024_n.jpg">
          <h5>NIKE</h5>
        </ul>
        <ul class="drop-col">
          <!--<ul class="cate">Bộ sưu tập</ul>
          <li class="li-col"><a>Ultra Boost</a></li>
          <li class="li-col"><a>Air Max</a></li>
          <li class="li-col"><a>Old School</a></li>
          <li class="li-col"><a>Yeezy Boost 350</a></li>-->
          <img class="drop-img" src="assets/img/41472387_234962500699104_7238386509403914240_n.jpg">
          <h5>ADIDAS</h5>
        </ul>
        <ul class="drop-col">
          <!--<ul class="cate">Hỗ trợ</ul>
          <li class="li-col"><a>Liên hệ hỗ trợ</a></li>
          <li class="li-col"><a>Hotline</a></li>
          <li class="li-col"><a>0793979988</a></li>-->
          <img class="drop-img" src="assets/img/305916328_1159008398294505_6378008893588196344_n.jpg">
          <h5>XU HƯỚNG</h5>
        </ul>
        <ul class="drop-col">
          <!--<ul class="cate">Hỗ trợ</ul>
          <li class="li-col"><a>Liên hệ hỗ trợ</a></li>
          <li class="li-col"><a>Hotline</a></li>
          <li class="li-col"><a>0793979988</a></li>-->
          <img class="drop-img" src="assets/img/56209404_342431279952225_3270244187152318464_n.jpg">
          <h5>SẢN PHẨM KHÁC</h5>
        </ul>
        <h6 class="brand-shop">Sneaker House</h6>
        <h6 class="sub-brand-shop">Đam Mê - Chất Lượng - Đẳng Cấp</h6>
      </div>
    </a>
    <a class="menu-item">
      <a>Nam</a>
      <div class="dropdown-content">
        <ul class="drop-col">
          <ul class="cate">Nhãn hiệu</ul>
          <li class="li-col"><a>Nike</a></li>
          <li class="li-col"><a>Adidas</a></li>
          <li class="li-col"><a>Vans</a></li>
          <li class="li-col"><a>Gucci</a></li>
          <!--<img class="drop-img" src="assets/img/305916328_1159008398294505_6378008893588196344_n.jpg">
          <h5>NIKE</h5>-->
        </ul>
        <ul class="drop-col">
          <ul class="cate">Bộ sưu tập</ul>
          <li class="li-col"><a>Ultra Boost</a></li>
          <li class="li-col"><a>Air Max</a></li>
          <li class="li-col"><a>Old School</a></li>
          <li class="li-col"><a>Yeezy Boost 350</a></li>
         <!-- <img class="drop-img" src="assets/img/305916328_1159008398294505_6378008893588196344_n.jpg">
          <h5>ADIDAS</h5>-->
        </ul>
        <ul class="drop-col">
          <ul class="cate">Hỗ trợ</ul>
          <li class="li-col"><a>Liên hệ hỗ trợ</a></li>
          <li class="li-col"><a>Hotline</a></li>
          <li class="li-col"><a>0793979988</a></li>
        <!--  <img class="drop-img" src="assets/img/305916328_1159008398294505_6378008893588196344_n.jpg">
          <h5>XU HƯỚNG</h5>-->
        </ul>
        <ul class="drop-col">
          <ul class="cate">Hỗ trợ</ul>
          <li class="li-col"><a>Liên hệ hỗ trợ</a></li>
          <li class="li-col"><a>Hotline</a></li>
          <li class="li-col"><a>0793979988</a></li>
          <!--<img class="drop-img" src="assets/img/305916328_1159008398294505_6378008893588196344_n.jpg">
          <h5>SẢN PHẨM KHÁC</h5>-->
        </ul>
        <h6 class="brand-shop">Sneaker House</h6>
        <h6 class="sub-brand-shop">Đam Mê - Chất Lượng - Đẳng Cấp</h6>
      </div>
    </a>
    <a class="menu-item">
      <a>Nữ</a>
      <div class="dropdown-content">
        <ul class="drop-col">
          <ul class="cate">Nhãn hiệu</ul>
          <li class="li-col"><a>Nike</a></li>
          <li class="li-col"><a>Adidas</a></li>
          <li class="li-col"><a>Vans</a></li>
          <li class="li-col"><a>Gucci</a></li>
          <!--<img class="drop-img" src="assets/img/305916328_1159008398294505_6378008893588196344_n.jpg">
          <h5>NIKE</h5>-->
        </ul>
        <ul class="drop-col">
          <ul class="cate">Bộ sưu tập</ul>
          <li class="li-col"><a>Ultra Boost</a></li>
          <li class="li-col"><a>Air Max</a></li>
          <li class="li-col"><a>Old School</a></li>
          <li class="li-col"><a>Yeezy Boost 350</a></li>
          <!-- <img class="drop-img" src="assets/img/305916328_1159008398294505_6378008893588196344_n.jpg">
           <h5>ADIDAS</h5>-->
        </ul>
        <ul class="drop-col">
          <ul class="cate">Hỗ trợ</ul>
          <li class="li-col"><a>Liên hệ hỗ trợ</a></li>
          <li class="li-col"><a>Hotline</a></li>
          <li class="li-col"><a>0793979988</a></li>
          <!--  <img class="drop-img" src="assets/img/305916328_1159008398294505_6378008893588196344_n.jpg">
            <h5>XU HƯỚNG</h5>-->
        </ul>
        <ul class="drop-col">
          <ul class="cate">Hỗ trợ</ul>
          <li class="li-col"><a>Liên hệ hỗ trợ</a></li>
          <li class="li-col"><a>Hotline</a></li>
          <li class="li-col"><a>0793979988</a></li>
          <!--<img class="drop-img" src="assets/img/305916328_1159008398294505_6378008893588196344_n.jpg">
          <h5>SẢN PHẨM KHÁC</h5>-->
        </ul>
        <h6 class="brand-shop">Sneaker House</h6>
        <h6 class="sub-brand-shop">Đam Mê - Chất Lượng - Đẳng Cấp</h6>
      </div>
    </a>
    <a class="menu-item">Sale</a>
  </div>
  <div class="search">
    <div class="input-search">
      <img class="icon-search" src="https://ananas.vn/wp-content/themes/ananas/fe-assets/images/svg/icon_tim_kiem.svg">
      <input placeholder="Tìm kiếm...">
    </div>
    <div class="icon">
      <img src="assets/img/icons8-favorite-100.png">
    </div>
    <div class="icon">
      <p class="items">0</p>
      <img src="assets/img/icons8-shopping-bag-100.png">
    </div>
  </div>
</div>
