<div class="footer">
  <div class="col">
    <ul class="cate">Nhãn hiệu</ul>
    <li class="li"><a>Nike</a></li>
    <li class="li"><a>Adidas</a></li>
    <li class="li"><a>Vans</a></li>
    <li class="li"><a>Gucci</a></li>
  </div>
  <div class="col">
    <ul class="cate">Bộ sưu tập</ul>
    <li class="li"><a>Ultra Boost</a></li>
    <li class="li"><a>Air Max</a></li>
    <li class="li"><a>Old School</a></li>
    <li class="li"><a>Yeezy Boost 350</a></li>
  </div>
  <div class="col">
    <ul class="cate">Hỗ trợ</ul>
    <li class="li"><a>Liên hệ hỗ trợ</a></li>
    <li class="li"><a>Hotline</a></li>
    <li class="li"><a>0793979988</a></li>
  </div>
  <div class="col">
    <ul class="cate">Theo dõi</ul>
    <li class="li"><a href="https://www.facebook.com/manhhtuann.nguyenn"><img class="follow" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/viVN/Images/NEWfacebook_image_footer_tcm337-875964.png"></a></li>
    <li class="li"><a><img class="follow" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/viVN/Images/NEWinstagram_logo-footer_tcm337-875968.png"></a></li>
    <li class="li"><a><img class="follow" src="https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/viVN/Images/NEWtiktok-black-share-icon1189_tcm337-875969.png"></a></li>
  </div>
</div>
