.footer{
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  gap: 3%;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10%;
}
.col{
  text-align: center;
  padding-top: 15px;
}
.li{
  list-style-type: none!important;
}
.li a:hover{
  text-decoration-line: underline ;
  cursor: pointer;
}
.cate{
  padding: 0 0 10px 0!important;
  margin: 0!important;
  font-size: 24px;
  font-weight: bold;

}
.follow{
  border-radius: 50%;
}

