<div class="wrapper">
  <div class="login">
    <div class="header-login">
      <img
        src="https://st3.depositphotos.com/7774456/13208/v/450/depositphotos_132088630-stock-illustration-logo-of-stylish-sneaker-for.jpg">
      <div class="text2 text-uppercase view-header">đăng nhập</div>
    </div>
    <div class="body-login">
      <form>
        <input class="input" placeholder="Tên đăng nhập">
        <input class="input" placeholder="Password">
        <div class="row1">
          <div class="remember">
            <input type="checkbox" id="remember">
            <label for="remember">Ghi nhớ</label>
          </div>
          <a class="forgot-pass hover">Quên mật khẩu</a>
        </div>
        <button class="btn-submit text1 text-uppercase">đăng nhập</button>
        <p>Bạn chưa có tài khoản?</p><a class="go-register">Đăng ký tại đây</a>
      </form>
    </div>
  </div>
</div>

