<div class="wrapper">
  <div class="register">
    <div class="header-register">
      <img
        src="https://st3.depositphotos.com/7774456/13208/v/450/depositphotos_132088630-stock-illustration-logo-of-stylish-sneaker-for.jpg">
      <div class="text2 text-uppercase view-header">đăng kí</div>
    </div>
    <div class="body-register">
      <form>
        <input class="input" placeholder="Tên đăng nhập">
        <input class="input" placeholder="Password">
        <input class="input" placeholder="Họ tên">
        <input class="input" type="date" placeholder="Ngày sinh">
        <input class="input" placeholder="Giới tính">
        <input class="input" placeholder="Số điện thoại">
        <input class="input" placeholder="Địa chỉ">
        <button class="btn-submit text1 text-uppercase">đăng kí</button>
      </form>
    </div>
  </div>
</div>


