<div class="home">
  <div class="banner">
    <div class="banner-img">
      <img src="https://theme.hstatic.net/1000244835/1000376583/14/blog_banner_3_3.png?v=544">
    </div>
    <div class="content-banner">
      <div class="content">
        <div class="title title-content">Ultra Boost 2.0</div>
        <div class="sub-title sub-content">sdfasdfsdf</div>
      </div>
      <button>Đặt hàng&#8594;</button>
    </div>
  </div>
  <div class="body">
    <div class="header-body">
      <div class="header-body-left">
        <img class="img header-img img-left" src="https://giaygiare.vn/upload/images/cach-mix-do-on-feet-cuc-chat-voi-giay-ultra-boost-nam-nu-20.jpg">
        <div class="description">
          <h3>all black</h3>
          <p>Mặc dù được ứng dụng rất nhiều, nhưng sắc đen lúc nào cũng toát lên một vẻ huyền bí không nhàm chán
          </p>
        </div>
      </div>
      <div class="header-body-right">
        <img class="img header-img img-right" src="https://giaygiare.vn/upload/images/cach-mix-do-on-feet-cuc-chat-voi-giay-ultra-boost-nam-nu-20.jpg">
        <div class="description">
          <h3>all black</h3>
          <p>Mặc dù được ứng dụng rất nhiều, nhưng sắc đen lúc nào cũng toát lên một vẻ huyền bí không nhàm chán
          </p>
        </div>
      </div>
    </div>
    <div class="best-seller">
      <h3>best seller</h3>
      <div class="item">
        <div class="item-img">
          <img class="img" src="assets/img/56209404_342431279952225_3270244187152318464_n.jpg">
        </div>
        <div class="item-info">
          <h5 class="item-name">
            Ultra Boost
          </h5>
          <p>adsfasdfasd</p>
          <h5 class="price">400.000 VND</h5>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
          <img class="img" src="assets/img/56209404_342431279952225_3270244187152318464_n.jpg">
        </div>
        <div class="item-info">
          <h5 class="item-name">
            Ultra Boost
          </h5>
          <p>adsfasdfasd</p>
          <h5 class="price">400.000 VND</h5>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
          <img class="img" src="assets/img/56209404_342431279952225_3270244187152318464_n.jpg">
        </div>
        <div class="item-info">
          <h5 class="item-name">
            Ultra Boost
          </h5>
          <p>adsfasdfasd</p>
          <h5 class="price">400.000 VND</h5>
        </div>
      </div>
      <div class="item">
        <div class="item-img">
          <img class="img" src="assets/img/56209404_342431279952225_3270244187152318464_n.jpg">
        </div>
        <div class="item-info">
          <h5 class="item-name">
            Ultra Boost
          </h5>
          <p>adsfasdfasd</p>
          <h5 class="price">400.000 VND</h5>
        </div>
      </div>
    </div>
  </div>
</div>
