<div class="header-filter">
  <button (click)="closeFilter()" class="btn-close"></button>
  <div class="title-filter text-uppercase text1">Lọc</div>
  <a class="clear text1">Xóa hết</a>
</div>
<div class="divider"></div>
<div class="applied-filters">
  <div class="title1">Đã áp dụng</div>
  <div class="filters">
    <button  class="chips-filters">Adidas
      <span class="closebtn close">&times;</span>
    </button>
    <button  class="chips-filters">Nike
      <span class="closebtn close">&times;</span>
    </button>
  </div>
</div>

