<div class="header-filter">
  <button (click)="closeFilter()" class="btn-close"></button>
  <div class="title-filter text-uppercase text1">Lọc</div>
  <a class="clear text1" (click)="clearFilter()">Xóa hết</a>
</div>
<div class="divider"></div>
<div class="filter ">
  <div class="applied-filters padding-left">
    <div class="title1 text1">Đã áp dụng</div>
    <ng-container *ngIf="isEmptySelected; else noEmpty">Trống</ng-container>
    <ng-template #noEmpty>
    <div class="filters" *ngFor="let selected of modelFilter;let i=index">
      <button class="chips-filters" *ngIf="selected.modelFilter">
        {{selected.modelFilter}}
        <span class="closebtn close" (click)="deleteFilter(i)">&times;</span>
      </button>
    </div>
    </ng-template>
  </div>
  <div class="divider padding-left"></div>
  <div class=" option-filters padding-left" *ngFor="let item of optionList;let i=index">
    <div class="option-title box-title" (click)="showOption(item,i)">
      <div class="title1 text1">{{item.name}}</div>
      <span class="arrow" *ngIf="!item.show">&#709;</span>
      <span class="arrow" *ngIf="item.show">&#708;</span>
    </div>
    <div class="option" *ngIf="item.show">
          <div class="options" *ngFor="let option of item.option">
            <input #inp [id]=option.name class="check-filter" type="checkbox" [value]="option.name" (change)="selectedFilter(option,i)" [checked]="modelFilter[i].modelFilter == option.name">
            <label [for]=option.name class="label-input">{{option.name}}</label>
          </div>
    </div>
    <div class="divider"></div>
  </div>
  <div class="btn-apply">
    <button>Áp dụng</button>
  </div>
</div>
