/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
body{
  font-family: 'Oswald', sans-serif;
  overflow-x: hidden;
  max-width: 1366px;
}
a{
  text-decoration-line: none;
  color: black;
}
li{
  list-style-type: none!important;
}
.title{
  font-weight: bold;
  font-size: 30px;
}
.sub-title{
  font-size: 20px;
}
.img{
  width: 100%;
  object-fit: cover;
}
h3{
  text-transform:uppercase ;
  font-weight: bold;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.divider {
  clear: both;
  height: 1px;
  background-color: #aaa;
  margin-top: 10px!important;
  margin-bottom: 10px;

}
.text{
  text-align: center;
}
.text2{
  font-size: 24px;
}
.text1{
  font-size: 20px;
}
.btn-orange{
  width: 100%;
  background: orange;
  font-size: 24px;
  font-weight: bold;
  height: 60px;
  border-radius: 5px;
}
.title1{
  padding-top: 10px;
  padding-bottom: 10px;
}
.text-uppercase{
  text-transform: uppercase;
}
.hover:hover{
  cursor: pointer;
}
.info-name{
  font-size: 24px;
}
.item-img{
  width: 20%;
}
.img{

}
.info-item{
  width: 50%;
  display: table-cell;
  vertical-align: top;
}
.right-item{
  flex: 1;
  text-align: end;
}
.select{
  display: inline-block;
}
.info-size{
  width: 50%;
}
.info-amount{
  width: 50%;
}
.row-bottom{
  bottom: 0px;
}
.button{
  width: 100%;
  margin-top: 30px;
  display: grid;
  justify-content: end;
  gap: 10px;
}




