.col{
  margin-top: 15px;
  display: flex;
  padding: 15px;
  gap: 20px;

}
.left{
  width: 66.66666667%;
}
.right{
  width: 33.33333333%;
  background-color: gainsboro;
  height: auto;
  min-height: 500px;
  padding: 5px 20px 5px 20px;
}
.title{
  text-transform: uppercase;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 5px 20px 5px 20px;
}
.title-checkout{
  background-color: transparent;
  padding: 0;
}
.item{
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  gap: 20px;

}
.info-name{
  font-size: 24px;
}
.item-img{
  width: 20%;
}
.img{
  height: 150px;
}
.info-item{
  width: 50%;
  display: table-cell;
  vertical-align: top;
}
.right-item{
  flex: 1;
  text-align: end;
}
.select{
  display: inline-block;
}
.info-size{
  width: 50%;
}
.info-amount{
  width: 50%;
}
.row-bottom{
  bottom: 0px;
}
.button{
  width: 100%;
  margin-top: 30px;
}
.bton{
  width: 50%;
  height: 50px;
}
.bottom{
  display: flex;
  justify-content: space-evenly;
}
.but-botttom{
  background-color: black;
  color: white;
  text-transform: uppercase;
}
.but-botttom:hover{
  background-color: black;
  color: white;
}
.discountCode{
  height: 30px;
  border: none;
  background: orange;
}
.input-discountCode{
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 20px;
  border-bottom: #666666 dashed 2px;
}
.input-code{
  height: 30px;
  border: none;
  width: 70%;
}
.row1{
  display: flex;
  justify-content: space-between;
}
.dis-check{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: #666666 dashed 2px;
}
.sub-total{
  border: none;
}
.sub{
  color: #ff5f17;
}
