.item{
  width: 300px;
  height: 450px;
  border: 1px transparent solid;
}
.item:hover{
  border: 1px solid black;
  cursor: pointer;
}
.list{
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
}
.item-img{
  width: 300px;
  object-fit: cover;
}
.item-info{
  text-align: center;
}
.status{
  color: orange;
  padding: 10px;
}
.info{
  margin-top: 10%;
}
.icon-favorive{
  position: absolute;
  top:100%;
}
.price{
  font-weight: bold;
}
.li{
  list-style-type: none!important;
  display: inline;
  padding-left: 20px;
  padding-right:20px;
}
.filter{
  display: flex;
  justify-content: space-between;
}
.btn-filter:hover{
  cursor: pointer;
}
.btn-filter button{
  width: 100px;
  padding-right: 30px;
  border-radius: 10px;
}
.btn-filter img{
  position: absolute;
  right: 30px;
  padding-top: 3px;
}

